<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd">

	<!--引入spring各个模块配置文件 -->
	<import resource="spring-jdbc.xml" />
	<import resource="spring-redis.xml" />
	<!--aopService层日志管理 -->
	<!--注入Service层日志处理Bean -->
	<bean id="bizLogInterceptor" class="com.demo.aop.BizLogInterceptor"></bean>
	<aop:config>
		<aop:aspect id="aspect" ref="bizLogInterceptor">
			<!--* 所有的修饰符 * 所有的返回类型 * 所有的类名 * 所有的方法名 ..所有的参数名 -->
			<aop:pointcut id="pointcut" expression="execution( * com.demo.service.impl.*.*(..))" />
			<aop:before method="doBizBefore" pointcut-ref="pointcut" />
			<!-- <aop:after method="doAfter" pointcut-ref="pointcut" /> -->
			<aop:after-returning method="doBizAfter" returning="returnObj" pointcut-ref="pointcut" />
		</aop:aspect>
	</aop:config>
</beans>